
.main{

    width: 100%;
    text-align: center;

}
.navbar-brand{
    text-decoration: none;
    font-size: xx-large;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    color: rgb(11, 12, 12);
    text-align: center;
}